body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.logo {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 100px;
}

.dropdown-content a {
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.container {
    padding: 20px;
    text-align: center;
}


.flex-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.box {
    background-color: lightgray;
    padding: 15px;
    border-radius: 5px;
}
